#snowballer-info { text-align: center; }

.snowballer-footer { color: #ccc; }

.zero-balance { color: #ccc; }

#masthead { 
    text-align: center;
    font-weight: 700;
    font-family: 'Pacifico', cursive;
    background-color: white;
}

#masthead-description {
    font-family: Arial, Helvetica, sans-serif;
}

#balance-payment-btns {
    display: inline-block;
    margin: 0 auto;
}